<nav>
  <a routerLink="/home" routerLinkActive="active" class="btn btn-link">home</a>
  <a
    *ngIf="!login"
    routerLink="/login"
    routerLinkActive="active"
    class="btn btn-link"
    >login</a
  >
  <ng-container *ngIf="login">
    <a
      *ngIf="admin"
      routerLink="/fournisseur"
      routerLinkActive="active"
      class="btn btn-link"
      >fournisseur</a
    >
    <a
      *ngIf="admin"
      routerLink="/produit"
      routerLinkActive="active"
      class="btn btn-link"
      >produit</a
    >
    <a
      *ngIf="client"
      routerLink="/commander"
      routerLinkActive="active"
      class="btn btn-link"
      >commander</a
    >
    <button (click)="logoff()" class="btn btn-link">deconnexion</button>
    <span>bonjour {{ login }}</span>
  </ng-container>
</nav>
