<h1>edition fournisseur</h1>
<div class="form-group">
  <label for="id">id:</label>
  <input
    id="id"
    [(ngModel)]="fournisseur.id"
    class="form-control"
    placeholder="numero auto"
    readonly
  />
</div>
<div class="form-group">
  <label for="nom">nom:</label>
  <input id="nom" [(ngModel)]="fournisseur.nom" class="form-control" />
</div>
<div class="form-group">
  <label for="contact">contact:</label>
  <input id="contact" [(ngModel)]="fournisseur.contact" class="form-control" />
</div>
<div class="form-group">
  <label for="adresse.numero">numero:</label>
  <input
    id="adresse.numero"
    [(ngModel)]="fournisseur.adresse!.numero"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="adresse.rue">rue:</label>
  <input
    id="adresse.rue"
    [(ngModel)]="fournisseur.adresse!.rue"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="adresse.codePostal">code postal:</label>
  <input
    id="adresse.codePostal"
    [(ngModel)]="fournisseur.adresse!.codePostal"
    class="form-control"
  />
</div>
<div class="form-group">
  <label for="adresse.ville">ville:</label>
  <input
    id="adresse.ville"
    [(ngModel)]="fournisseur.adresse!.ville"
    class="form-control"
  />
</div>
<div>
  <button (click)="save()" class="btn btn-outline-primary">enregistrer</button>
  <a
    routerLink="/fournisseur"
    routerLinkActive="active"
    class="btn btn-outline-warning"
    >annuler</a
  >
</div>
