<h1>edition fournisseur</h1>
<form (ngSubmit)="save()" #form="ngForm">
  <div class="form-group">
    <label for="id">id:</label>
    <input
      id="id"
      name="id"
      [(ngModel)]="fournisseur.id"
      class="form-control"
      placeholder="numero auto"
      readonly
    />
  </div>
  <div class="form-group">
    <label for="nom">nom:</label>
    <input
      id="nom"
      name="nom"
      [(ngModel)]="fournisseur.nom"
      class="form-control"
      required
      pattern="^[a-zA-Z][a-zA-Z]*((-|\s)[a-zA-Z]+)*$"
      #nomCtrl="ngModel"
    />
    <div *ngIf="nomCtrl.dirty && nomCtrl.invalid" class="alert alert-danger">
      nom obligatoire
    </div>
  </div>
  <div class="form-group">
    <label for="contact">contact:</label>
    <input
      id="contact"
      name="contact"
      [(ngModel)]="fournisseur.contact"
      class="form-control"
      required
      #contactCtrl="ngModel"
    />
    <div
      *ngIf="contactCtrl.dirty && contactCtrl.invalid"
      class="alert alert-danger"
    >
      contact obligatoire
    </div>
  </div>
  <div class="form-group">
    <label for="adresse.numero">numero:</label>
    <input
      id="adresse.numero"
      name="adresse.numero"
      [(ngModel)]="fournisseur.adresse!.numero"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="adresse.rue">rue:</label>
    <input
      id="adresse.rue"
      name="adresse.rue"
      [(ngModel)]="fournisseur.adresse!.rue"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="adresse.codePostal">code postal:</label>
    <input
      id="adresse.codePostal"
      name="adresse.codePostal"
      [(ngModel)]="fournisseur.adresse!.codePostal"
      class="form-control"
    />
  </div>
  <div class="form-group">
    <label for="adresse.ville">ville:</label>
    <input
      id="adresse.ville"
      [(ngModel)]="fournisseur.adresse!.ville"
      class="form-control"
      name="adresse.ville"
      required
      #villeCtrl="ngModel"
    />
    <div
      *ngIf="villeCtrl.dirty && villeCtrl.invalid"
      class="alert alert-danger"
    >
      ville obligatoire
    </div>
  </div>
  <div>
    <button
      type="submit"
      [disabled]="form.invalid"
      class="btn btn-outline-primary"
    >
      enregistrer
    </button>
    <a
      routerLink="/fournisseur"
      routerLinkActive="active"
      class="btn btn-outline-warning"
      >annuler</a
    >
  </div>
</form>
